{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Enregistrement{% endblock %}

{% block body %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}" class="lien">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_accueil')}}" class="lien">Accueil Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_gestionUsers')}}" class="lien">Gestion Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Enregistrement</li>
        </ol>
    </nav>

    <section >
    <h1 class="container row justify-content-center">Incription d'un utilisateur</h1>

    <div class="container justify-content-center col-8">
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm)}}
        <button type="submit" class="btn btn-page">Enregister</button>
        {{ form_end(registrationForm) }}
    </div>
    </section>
</div>
{% endblock %}
