{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Accueil{% endblock %}

{% block body %}
<div id="container">
    <div>
        <h1>Bienvenue {{ app.user.pseudo }}</h1>
        <section >
            {{ form_start(sortieForm, {'action': path('recherche'), 'method': 'POST'}) }}
            <div class="row">
                <div class="group col-6">
                    {{ form_row(sortieForm.campus) }}
                </div>
                <div class="group col-6">
                    {{ form_row(sortieForm.text) }}
                </div>
                <div class="group col-6">
                    {{ form_row(sortieForm.dateDebut) }}
                </div>
                <div class="group col-6">
                    {{ form_row(sortieForm.dateFin) }}
                </div>
            </div>
            <div class="row">
                <div class="group col-6">
                    {{ form_row(sortieForm.organise) }}
                </div>
                <div class="group col-6">
                    {{ form_row(sortieForm.inscrit) }}
                </div>
                <div class="group col-6">
                    {{ form_row(sortieForm.sortiesPassees) }}
                </div>
                <div class="group col-6">
                    {{ form_row(sortieForm.nonInscrit) }}
                </div>
            </div>
            <button type="submit" class="btn">Recherche</button>
            {{ form_end(sortieForm) }}
        </section>
    </div>

    <section id="liste">
        <div id="bouton-creer-sortie" class="container">
            <h2>Listes des sorties:</h2>
            <a href="{{ path('sortie_ajouter') }}" class="btn btn-outline-primary">Créer une sortie</a>
        </div>
        <div id="boites-sorties-alignement">
            <div class="row center">

                {% for sortie in sorties %}
                    <div class="card col-xl-5" >
                        <div class="card-body">
                            <nav class="sortie">
                                <div class="">
                                    <h5 class="card-title">{{ sortie.nom }}</h5>
                                </div>
                                <div class="info-droite-carte-sortie">
                                    <div class="">
                                        <a href="{{ path('sortie_afficher',{id:sortie.id}) }}" class="card-link">Détail</a>
                                    </div>
                                    <div class="">
                                        <p class="card-text">{{ sortie.users|length }}/{{ sortie.nbInscriptionsMax }}</p>
                                    </div>
                                </div>

                            </nav>
                            <h6 class="card-title">{{ sortie.organisateur.pseudo }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ sortie.dateHeureDebut |date("d/m/Y h:m")}}</h6>

                            <p class="card-text">Etat : {{ sortie.etat.libelle }}</p>
                            {% if sortie.etat.id==6 %}
                                <p>Motif d'annulation : {{ sortie.infosAnnulation }}</p>
                            {% endif %}
                            {% if app.user in sortie.users %} {#si inscrit#}
                                <p>Inscrit/e <a href="{{ path('desinscription',{id:sortie.id})}}" class="card-link">(Se désister)</a></p>
                            {% endif %}

                            {% if sortie.etat.id==2 and app.user not in sortie.users %} {# si sortie ouverte et pas déjà inscrit#}
                                <a href="{{ path('inscription',{id:sortie.id})}}" class="card-link">S'inscrire</a>
                            {% endif %}

                            {% if app.user==sortie.organisateur%} {# si organisateur#}

                                {% if sortie.etat.id== 1%} {# si créée#}
                                    <a href="#" class="card-link">Publier</a>
                                    <a href="{{ path('sortie_modifier',{id:sortie.id}) }}" class="card-link">Modifier sortie</a>
                                {% endif %}

                                {% if sortie.etat.id==2 %} {# si ouverte#}
                                    <a href="{{ path('sortie_annuler',{id:sortie.id}) }}" class="card-link">Annuler</a>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
</div>
{% endblock %}
