{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Accueil{% endblock %}

{% block body %}
    <h1>Listes des sorties</h1>

    <section class="col-4">
        {{ form_start(sortieForm) }}
        <div class="group">
            {{ form_label(sortieForm.campus) }}
            {{ form_widget(sortieForm.campus) }}
            {{ form_errors(sortieForm.campus) }}
        </div>
        <div class="group">
            {{ form_label(sortieForm.text) }}
            {{ form_widget(sortieForm.text) }}
            {{ form_errors(sortieForm.text) }}
        </div>
        <div class="group">
            {{ form_label(sortieForm.dateDebut) }}
            {{ form_widget(sortieForm.dateDebut) }}
            {{ form_errors(sortieForm.dateDebut) }}
        </div>
        <div class="group">
            {{ form_label(sortieForm.dateFin) }}
            {{ form_widget(sortieForm.dateFin) }}
            {{ form_errors(sortieForm.dateFin) }}
        </div>
        <div class="group">
            {{ form_label(sortieForm.organisateur) }}
            {{ form_widget(sortieForm.organisateur) }}
            {{ form_errors(sortieForm.organisateur) }}
        </div>
        <div class="group">
            {{ form_label(sortieForm.inscrit) }}
            {{ form_widget(sortieForm.inscrit) }}
            {{ form_errors(sortieForm.inscrit) }}
        </div>
        <div class="group">
            {{ form_label(sortieForm.nonInscrit) }}
            {{ form_widget(sortieForm.nonInscrit) }}
            {{ form_errors(sortieForm.nonInscrit) }}
        </div>
        <div class="group">
            {{ form_label(sortieForm.sortiesPassees) }}
            {{ form_widget(sortieForm.sortiesPassees) }}
            {{ form_errors(sortieForm.sortiesPassees) }}
        </div>
        <button class="btn">Recherche</button>
        {{ form_end(sortieForm) }}
    </section>

    <br>
    <section>
        <h2>Listes :</h2>

        {% for sortie in sorties %}
            <ul class="list-group"></ul>
                <li class="list-group-item">
                    {{ sortie.nom }}
                </li>
            <li class="list-group-item">
                {{ sortie.dateHeureDebut |date("d/m/Y h:m")}}
            </li>
            <li class="list-group-item">
                {{ sortie.datelimiteInscription |date("d/m/Y h:m")}}
            </li>
            <li class="list-group-item">
                {{ sortie.users|length }}/{{ sortie.nbInscriptionsMax }}
            </li>
            <li class="list-group-item">
                {{ sortie.etat.libelle }}
            </li>
            <li class="list-group-item">
                {{ sortie.organisateur.pseudo }}
            </li>
            <li class="list-group-item">
                <a href="{{ path('sortie_afficher',{id:sortie.id}) }}">Afficher</a>
            </li>
            <li class="list-group-item">
                <a href="#">Se désister</a>
            </li>
            <li class="list-group-item">
                <a href="#">S'inscire</a>
            </li>
            <li class="list-group-item">
                <a href="#">Publier</a>
            </li>
            <li class="list-group-item">
                <a href="#">Annuler</a>
            </li>
            </li>
            <li class="list-group-item">
                <a href="{{ path('sortie_modifier',{id:sortie.id}) }}">Modifier sortie</a>
            </li>
            <br>
        {% endfor %}
    </section>
    <a href="{{ path('sortie_ajouter') }}" class="btn btn-sucess">Créer une sortie</a>

{% endblock %}
