{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue {{ app.user.pseudo }}</h1>

    <section >
        {{ form_start(sortieForm, {'action': path('recherche'), 'method': 'POST'}) }}
        <div class="row">
            <div class="group col-6">
                {{ form_row(sortieForm.campus) }}
            </div>
            <div class="group col-6">
                {{ form_row(sortieForm.text) }}
            </div>
            <div class="group col-6">
                {{ form_row(sortieForm.dateDebut) }}
            </div>
            <div class="group col-6">
                {{ form_row(sortieForm.dateFin) }}
            </div>
        </div>
        <div class="row">
            <div class="group col-6">
                {{ form_row(sortieForm.organise) }}
            </div>
            <div class="group col-6">
                {{ form_row(sortieForm.inscrit) }}
            </div>
            <div class="group col-6">
                {{ form_row(sortieForm.sortiesPassees) }}
            </div>
            <div class="group col-6">
                {{ form_row(sortieForm.nonInscrit) }}
            </div>
        </div>
        <button type="submit" class="btn">Recherche</button>
        {{ form_end(sortieForm) }}
    </section>

    <section id="liste">
        <h2>Listes des sorties:</h2>

        {% for sortie in sorties %}
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">{{ sortie.nom }}</h5>
                    <h6 class="card-title">{{ sortie.organisateur.pseudo }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ sortie.dateHeureDebut |date("d/m/Y h:m")}}</h6>
                    <p class="card-text">Places restantes : {{ sortie.users|length }}/{{ sortie.nbInscriptionsMax }}</p>
                    <p class="card-text">Etat : {{ sortie.etat.libelle }}</p>
                    <a href="{{ path('sortie_afficher',{id:sortie.id}) }}" class="card-link">Afficher</a>
                    <a href="#" class="card-link">Se désister</a>
                    <a href="#" class="card-link">S'inscrire</a>
                    {% if app.user==sortie.organisateur%}
                    <a href="#" class="card-link">Publier</a>
                    <a href="{{ path('sortie_annuler',{id:sortie.id}) }}" class="card-link">Annuler</a>
                        <a href="{{ path('sortie_modifier',{id:sortie.id}) }}" class="card-link">Modifier sortie</a>
                    {% endif %}
                </div>
            </div>

            <br>
        {% endfor %}
    </section>
    <a href="{{ path('sortie_ajouter') }}" class="btn btn-outline-primary">Créer une sortie</a>
</div>
{% endblock %}
