{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue {{ app.user.pseudo }}</h1>

    <section class="col-4">
        {{ form_start(sortieForm, {'action': path('recherche'), 'method': 'POST'}) }}
        <div class="group">
            {{ form_row(sortieForm.campus) }}

        </div>
        <div class="group">
            {{ form_row(sortieForm.text) }}

        </div>
        <div class="group">
            {{ form_row(sortieForm.dateDebut) }}

        </div>
        <div class="group">
            {{ form_row(sortieForm.dateFin) }}

        </div>
        <div class="group">
            {{ form_row(sortieForm.organise) }}

        </div>
        <div class="group">
            {{ form_row(sortieForm.inscrit) }}

        </div>
        <div class="group">
            {{ form_row(sortieForm.nonInscrit) }}

        </div>
        <div class="group">
            {{ form_row(sortieForm.sortiesPassees) }}

        </div>
        <button type="submit" class="btn">Recherche</button>
        {{ form_end(sortieForm) }}
    </section>

    <section id="liste">
        <h2>Listes des sorties:</h2>

        {% for sortie in sorties %}
            <ul class="list-group"></ul>
                <li class="list-group-item">
                    {{ sortie.nom }}
                </li>
            <li class="list-group-item">
                {{ sortie.dateHeureDebut |date("d/m/Y h:m")}}
            </li>
            <li class="list-group-item">
                {{ sortie.datelimiteInscription |date("d/m/Y h:m")}}
            </li>
            <li class="list-group-item">
                {{ sortie.users|length }}/{{ sortie.nbInscriptionsMax }}
            </li>
            <li class="list-group-item">
                {{ sortie.etat.libelle }}
            </li>
            <li class="list-group-item">
                {{ sortie.organisateur.pseudo }}
            </li>
            <li class="list-group-item">
                <a href="#">Afficher</a>
            </li>
            <li class="list-group-item">
                <a href="#">Se désister</a>
            </li>
            <li class="list-group-item">
                <a href="#">S'inscrire</a>
            </li>
            <li class="list-group-item">
                <a href="#">Publier</a>
            </li>
            <li class="list-group-item">
                <a href="#">Annuler</a>
            </li>
            </li>
            <li class="list-group-item">
                <a href="{{ path('sortie_modifier',{id:sortie.id}) }}">Modifier sortie</a>
            </li>
            <br>
        {% endfor %}
    </section>
    <a href="{{ path('sortie_ajouter') }}" class="btn btn-outline-primary">Créer une sortie</a>
</div>
{% endblock %}
