{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier{% endblock %}

{% block body %}


<div class="container py-5">
    <h1>Modifies ton profil, {{ app.user.pseudo }}</h1>
</div>
<div class="col-4">
    {{ form_start (formUser) }}
    {{ form_widget(formUser) }}
    {{ form_end (formUser) }}
</div>


{% endblock %}
