{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier{% endblock %}

{% block body %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">modifier le profil</li>
        </ol>
    </nav>

    <h1>Modifies ton profil, {{ app.user.pseudo }}</h1>
    <div class="container">
        <div class="row">

            <div class="col-sm">
                <img  style="width:200px;" src="{{ asset('uploads/photos/' ~ user.photo) }}"  alt="photo de profil">
            </div>



            <div class="col-sm">
                {{ form_start (formUser) }}
                <div class="form-group ">
                    {{ form_row(formUser.pseudo) }}
                </div>
                <div class="form-group ">
                    {{ form_row(formUser.email) }}

                </div>
                <div class="form-group ">
                    {{ form_row(formUser.telephone) }}
                </div>
                <div class="form-group ">
                    {{ form_row(formUser.photo) }}
                </div>
                <div class="form-group ">
                    {{ form_row(formUser.plainPassword) }}
                </div>

            </div>
            <div class="col-sm">
                    <div class="form-group ">
                        {{ form_row(formUser.prenom) }}
                    </div>
                    <div class="form-group ">
                        {{ form_row(formUser.nom) }}

                    </div>
                    <div class="form-group ">
                        {{ form_row(formUser.new_password) }}
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>



                {{ form_end (formUser) }}
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).on('change', '.custom-file-input', function () {
            let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
        });
    </script>
{% endblock %}
