{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier{% endblock %}

{% block body %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">modifier le profil</li>
        </ol>
    </nav>

    <h1>Modifies ton profil, {{ app.user.pseudo }}</h1>

    <div class="col-4">
        {{ form_start (formUser) }}
        {{ form_widget(formUser) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
        {{ form_end (formUser) }}
    </div>
</div>

{% endblock %}
