{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">détail profil</li>
        </ol>
    </nav>

    <h1>{{ user.pseudo }}</h1>


    <section id="bloc-detail-profil">
        <div class="grid_2">
            <div class="font">Prénom :</div>
            <div>{{ user.prenom }}</div>
        </div>
        <div class="grid_2">
            <div class="font">Nom :</div>
            <div> {{ user.nom }}</div>
        </div>
        <div class="grid_2">
            <div class="font">Téléphone :</div>
            <div>{{ user.telephone }}</div>
        </div>
        <div class="grid_2">
            <div class="font">Campus :</div>
            <div> {{ user.campus.nom }}</div>
        </div>
    </section>
    <div class="py-5">
        <a href="{{ path('user_modifier', { id : user.id }) }}" class="btn btn-outline-primary">Modifier</a>
    </div>
</div>
{% endblock %}
