{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">détail profil</li>
        </ol>
    </nav>

    <div class="h1 container row justify-content-center mb-5"> Détail Profil</div>


    <div class="container row justify-content-center">
    <div class=" align-items-center col-6" style="max-width:18rem;">
        {% if user.photo==null %}
            <img style="width:200px;" src="{{ asset('img/defaut.png') }}"  alt="photo de profil">
        {% else %}
            <img  style="width:200px;" src="{{ asset('uploads/photos/' ~ user.photo) }}"  alt="photo de profil">
        {% endif %}
        <div class="card-body column justify-content-center">
            <h5 class="card-title">{{ user.pseudo }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Prénom : {{ user.prenom }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Nom : {{ user.nom }}</h6>
            <p class="card-text">Téléphone : {{ user.telephone }}</p>
            <p class="card-text">Campus : {{ user.campus.nom }}</p>
            <div class="container row justify-content-center">
            <a href="{{ path('user_modifier', { id : user.id }) }}" class="card-link btn btn-outline-primary">Modifier</a>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
