{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | GestionUsers{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}" class="lien">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_accueil')}}" class="lien">Accueil Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gestion Users</li>
        </ol>
    </nav>

    <h1>Liste des utilisateurs inscrits</h1>
    <table class="table table-striped">
        <thead>
        <tr>

            <th scope="col">Pseudo</th>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Campus</th>
            <th scope="col">Rôles</th>
            <th scope="col">Gestion</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.pseudo }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.campus.nom }}</td>
            <td>{% for role in user.roles %}{{ role }}&nbsp;{% endfor %}</td>
            <td>
                <a href="{{ path('admin_modifierRole',{id:user.id}) }}" class="btn btn-sm btn-primary">Modifier Rôle</a>
                <a href="{{ path('admin_etatUser',{id:user.id}) }}" class="btn btn-sm btn-dark">Rendre
                    {% if user.etat==true %} inactif
                    {% else %} actif
                    {% endif %}
                </a>
                <a href="{{ path('admin_supprimer',{id:user.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <a href="{{ path('app_register') }}" class="btn btn-page-outline">Ajouter un User</a>
    <a href="{{ path('admin_ajouterParFichier') }}" class="btn btn-page-outline">Ajouter des Users</a>
    <a href="{{ path('admin_accueil') }}" class="btn btn-secondary">Retour</a>

{% endblock %}



