{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | GestionUsers{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>

            <th scope="col">Pseudo</th>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Campus</th>
            <th scope="col">Gestion</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.pseudo }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.campus.nom }}</td>
            <td>boutons</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}



