{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container col-4">
    <h1>Détails de la sortie :</h1>

    <div> Nom de la sortie : {{ sortie.nom }}</div>
    <br>
    <div> Nombre d'inscription maxi : {{ sortie.nbInscriptionsMax }}</div>
    <br>
    <div> Campus : {{ sortie.campus.nom }}</div>
    <br>
    <div> Date et heure de sortie : {{ sortie.dateHeureDebut|date("d-m-Y") }}</div>
    <br>
    <div> Date limite d'inscription : {{ sortie.dateLimiteInscription|date("d-m-Y") }}</div>
    <br>
    <div> Nombres de places disponibles : {{ sortie.nbInscriptionsMax }}</div>
    <br>
     <div> Rue : {{ sortie.lieu.rue }}</div>
    <br>
     <div> Code postal : {{ sortie.lieu.ville.codePostal }}</div>
    {#<div> latitude : {{ sortie.infosSortie }}</div>#}
    {#<div> longitude : {{ sortie.infosSortie }}</div>#}
    <br>


    </div>

    <button type="button"  class="btn btn-sucess"> <a href="{{ path('accueil')}}">
        Retour à l'accueil
        </a></button>

</div>
{% endblock %}
