{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie {% endblock %}

{% block body %}


<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">détail sortie</li>
        </ol>
    </nav>

    <h1>{{ sortie.nom }}</h1>
    <div id="bloc-detail-sortie" class="">
        <div class="grid_2">
            <div class="font"> Description : </div>
            <div>{{ sortie.infosSortie }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Campus :</div>
            <div> {{ sortie.campus.nom }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Date et heure de sortie : </div>
            <div>{{ sortie.dateHeureDebut|date("d-m-Y") }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Date limite d'inscription :</div>
            <div> {{ sortie.dateLimiteInscription|date("d-m-Y") }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Nombres de places disponibles :</div>
            <div> {{ sortie.nbInscriptionsMax }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Adresse :</div>
            <div>{{ sortie.lieu.rue }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Code postal : </div>
            <div>{{ sortie.lieu.ville.codePostal }}</div>
        </div>
        {#<div> latitude : {{ sortie.infosSortie }}</div>#}
        {#<div> longitude : {{ sortie.infosSortie }}</div>#}
    </div>
</div>
{% endblock %}
