{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie {% endblock %}

{% block body %}


<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">détail sortie</li>
        </ol>
    </nav>

    <h1>{{ sortie.nom }}</h1>
    <section id="bloc-detail-sortie">
        <div class="grid_2">
            <div class="font"> Description : </div>
            <div>{{ sortie.infosSortie }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Campus :</div>
            <div> {{ sortie.campus.nom }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Date et heure de sortie : </div>
            <div>{{ sortie.dateHeureDebut|date("d-m-Y") }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Date limite d'inscription :</div>
            <div> {{ sortie.dateLimiteInscription|date("d-m-Y") }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Nombres de places disponibles :</div>
            <div> {{ sortie.nbInscriptionsMax }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Adresse :</div>
            <div>{{ sortie.lieu.rue }}</div>
        </div>
        <div class="grid_2">
            <div class="font"> Code postal : </div>
            <div>{{ sortie.lieu.ville.codePostal }}</div>
        </div>
        {#<div> latitude : {{ sortie.infosSortie }}</div>#}
        {#<div> longitude : {{ sortie.infosSortie }}</div>#}
    </section>

        <div id="liste-inscrits">
            <h5>Liste des participants inscrits :</h5>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <caption>Liste des participants inscrits</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for u in sortie.users %}
                        <tr>
                            <td><a href="{{ path('user_profil', { id : u.id }) }}">{{ u.pseudo }}</a></td>
                            <td>{{ u.nom }}</td>
                            <td>{{ u.prenom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

</div>
{% endblock %}
