{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Créer une sortie{% endblock %}

{% block body %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer une sortie</li>
        </ol>
    </nav>


    <h1 class="text-center">Créer une sortie</h1>

    <section >
        {{ form_start(formSortie) }}
            <div class="row">
                <div class="col-6">
                    <div class="group">
                            {{ form_row(formSortie.nom) }}
                    </div>
                    <div class="">
                        {{ form_row(formSortie.dateHeureDebut) }}
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="ville">Villes :</label>
                        <select class="custom-select" id="ville" name="ville">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lieu">Lieu :</label>
                        <select class="custom-select" id="lieu" name="lieu">
                        </select>
                        <a href="{{ path('lieu_ajouter',{route:route,id:'ajout'}) }}" class="btn ">Ajouter un lieu</a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="">
                        {{ form_row(formSortie.dateLimiteInscription) }}
                    </div>
                    <div class="">
                        {{ form_row(formSortie.nbInscriptionsMax) }}
                    </div>
                </div>

                <div class="col-6">
                    <div class="group mt-4">
                        <label for="campus" style="font-weight: bold">Campus :</label>
                        {{ user.campus.nom }}
                    </div>
                    <div class="mt-4">
                        <label for="lieu_rue" style="font-weight: bold">Adresse :</label>
                        <p id="lieu_rue"></p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="">
                        {{ form_row(formSortie.duree) }}
                    </div>
                    <div class="">
                        {{ form_row(formSortie.infosSortie) }}
                    </div>
                </div>

                <div class="col-6">
                    <div class="">
                        <label for="lieu_cp" style="font-weight: bold">Code Postal :</label>
                        <p id="lieu_cp" name="lieu_cp"></p>
                    </div>
                    <div class="mt-4">
                        <label for="lieu_gps" style="font-weight: bold">Coordonnées GPS :</label>
                        <p id="lieu_gps"></p>
                    </div>
                </div>
            </div>

        <div class="row-12 text-center">
            <button type="submit" name="choix" value="enregistre" class="btn  btn-primary">Enregistrer</button>

            <button type="submit" name="choix" value="publie" class="btn  btn-outline-primary">Publier</button>

            <a href="{{ path('accueil') }}" value="supprime" class="btn  btn-secondary">Annuler</a>
        </div>

        {{ form_end(formSortie) }}

    </section>
</div>

<script>

    let lieux = [];
    let villes = [];

    let url = '{{ path('sortie_lieux-et-villes') }}';
    fetch(url).then(response => response.json()) // je recupere le body de la requete
        .then(data => {
            console.log(data);

            // ajax <- JSON lieux (tableau) et villes (tableau)
            lieux = data.lieux;
            villes = data.villes;

            // un selecteur sur la balise select #ville
            let selectV = document.getElementById('ville');
            let selectCP = document.getElementById('lieu_cp');

            // alimenter la balise ville :
            for (let ville of villes)
            {
                let option = document.createElement('option'); // <option></option>
                option.innerHTML = ville.nom; // <option> Nantes </option>
                option.value = ville.id; // <option value="3"> Nantes </option>
                // je met la balise option dans la balise div
                selectV.appendChild(option);

            }

            remplirLieu(villes[0].id,villes[0].code_postal);

            selectV.onchange= function ()
            {
                console.log('ok');
                let thisCP;
                let idVille = this.value;
                for(i=0;i<villes.length;i++){
                    if (villes[i].id == idVille){
                        thisCP = villes[i].code_postal;
                        break;
                    }
                }
                remplirLieu(idVille,thisCP);
                //let idLieu = this.value;
                //remplirAdresse(idLieu);
            };

        });

    function remplirLieu(idVille,cp)
    {

        // en fonction de l'id ville
        // construire le select de lieux
        let selectL = document.getElementById('lieu');
        selectL.innerHTML = ''; // je vide la liste de lieux

        let selectAdresse = document.getElementById('lieu_rue');
        selectAdresse.innerHTML = ''; // je vide le paragraphe rue

        let selectCP = document.getElementById('lieu_cp');
        selectCP.innerHTML = ''; // je vide le paragraphe CP

        let optionCP = document.createElement('option'); // <option></option>
        optionCP.innerHTML = cp; // <option> 44000 </option>
        optionCP.value = idVille; // <option value="1"> Nantes </option>
        // je met la balise option dans la balise select
        selectCP.appendChild(optionCP);

        let selectGPS = document.getElementById('lieu_gps');
        selectGPS.innerHTML = ''; // je vide les paragraphes coordonnées GPS

        for (let lieu of lieux){  // si la ville correspond à idVille
            if (idVille == lieu.ville.id){
                let option = document.createElement('option'); // <option></option>
                option.innerHTML = lieu.nom; // <option> le ferrailleur </option>
                option.value = lieu.id; // <option value="1"> le ferrailleur </option>
                // je met la balise option dans la balise select
                selectL.appendChild(option);

            }
        }
        remplirAdresse(selectL.firstChild.value);

        selectL.onchange = function () {
            console.log('ok');
            let idLieu = this.value;
            remplirAdresse(idLieu);
        };
    }

    function remplirAdresse(idLieu)
    {
        // en fonction de l'id du lieu
        // construire le paragraphe de l'adresse
        let selectAdresse = document.getElementById('lieu_rue');
        selectAdresse.innerHTML = ''; // je vide le paragraphe rue

        let selectGPS = document.getElementById('lieu_gps');
        selectGPS.innerHTML = ''; // je vide les paragraphes coordonnées GPS

        for (let lieu of lieux){  // si le lieu correspond à idLieu
            if (idLieu == lieu.id){
                selectAdresse.innerHTML = lieu.rue;
                selectGPS.innerHTML = 'Latitude : ' + lieu.latitude + ', Longitude : ' + lieu.longitude;

            }
        }

    }

</script>

{% endblock %}
