{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Ajouter une sortie{% endblock %}

{% block body %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer une sortie</li>
        </ol>
    </nav>

<div class="container col-4">
    <h1>Créer une sortie</h1>
    {{ form_start(formSortie) }}
    {{ form_widget(formSortie) }}
    <button type="submit"  class="btn btn-sucess">
        Enregistrer
    </button>
    {{ form_end(formSortie) }}


</div>
{% endblock %}
