{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Modifier une sortie{% endblock %}

{% block body %}
<div id="container">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('accueil')}}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Modifier une sortie</li>
            </ol>
        </nav>

        <h1 class="text-center">Modifier votre sortie : {{ sortie.nom }}</h1>

        <section >
            {{ form_start(formSortie) }}
            <div class="row">

                <div class="groupe col-6">
                    <div class="group">
                        {{ form_row(formSortie.nom) }}
                    </div>
                    <div class="">
                        {{ form_row(formSortie.dateHeureDebut) }}
                    </div>
                </div>

                <div class="col-6 mt-4">
                    <div class="group">
                        <label for="campus">Campus :</label>

                    </div>
                    <div class="form-group mt-4">
                        <label for="ville">Villes :</label>
                        <select class="custom-select" id="ville" name="ville">
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="">
                        {{ form_row(formSortie.dateLimiteInscription) }}
                    </div>
                    <div class="">
                        {{ form_row(formSortie.nbInscriptionsMax) }}
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="lieu">Lieu :</label>
                        <select class="custom-select" id="lieu" name="lieu">
                        </select>
                        <a href="{{ path('lieu_ajouter',{route:route,id:sortie.id}) }}" class="btn">Ajouter lieu</a>
                    </div>
                    <div class="">
                        <label for="lieu_rue">Adresse :</label>
                        <p id="lieu_rue"></p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="">
                        {{ form_row(formSortie.duree) }}
                    </div>
                    <div class="">
                        {{ form_row(formSortie.infosSortie) }}
                    </div>
                </div>

                <div class="col-6">
                    <div class="">
                        <label for="lieu_cp">Code Postal :</label>
                        <p id="lieu_cp"></p>
                    </div>
                    <div class="">
                        <label for="lieu_gps">Coordonnées GPS :</label>
                        <p id="lieu_gps"></p>
                    </div>
                </div>
            </div>

            <div class="row-12 text-center">
                <button type="submit" name="choix" value="enregistre" class="btn btn-primary">Enregistrer</button>

                <button type="submit" name="choix" value="publie" class="btn btn-outline-primary">Publier</button>

                <a href="{{ path('sortie_supprimer',{id:sortie.id}) }}" class="btn btn-danger">Supprimer</a>

                <a href="{{ path('accueil') }}" value="supprime" class="btn btn-secondary">Annuler</a>
            </div>

            {{ form_end(formSortie) }}

        </section>


    </div>
</div>

    <script>

        let lieux = [];
        let villes = [];

        let url = "{{ path('sortie_lieux-et-villes') }}";
        fetch(url).then(response => response.json()) // je recupere le body de la requete
            .then(data => {
                console.log(data);

                // ajax <- JSON fruits (tableau) et couleurs (tableau)
                lieux = data.lieux;
                villes = data.villes;

                // un selecteur sur la balise select #ville
                let selectV = document.getElementById('ville');

                // alimenter la balise ville :
                for (let ville of villes)
                {
                    let option = document.createElement('option'); // <option></option>
                    option.innerHTML = ville.nom; // <option> Nantes </option>
                    option.value = ville.id; // <option value="3"> Nantes </option>
                    // je met la balise option dans la balise div
                    selectV.appendChild(option);
                }

                remplirLieu(villes[0].id);
                remplirAdresse(lieux[0].id);

                // --------------------------------------------------------------------------------------------
                selectV.onchange= function ()
                {
                    console.log('ok');
                    let idVille = this.value;
                    remplirLieu(idVille);
                    let idLieu = this.value;
                    remplirAdresse(idLieu);
                };
            } )

        function remplirLieu(idVille)
        {
            // en fonction de l'id ville
            // construire le select de lieux
            let selectL = document.getElementById('lieu');
            selectL.innerHTML = ''; // je vide la liste de lieux

            let selectAdresse = document.getElementById('lieu_rue');
            selectAdresse.innerHTML = ''; // je vide le paragraphe rue

            let selectCP = document.getElementById('lieu_cp');
            selectCP.innerHTML = ''; // je vide le paragraphe CP

            let selectGPS = document.getElementById('lieu_gps');
            selectGPS.innerHTML = ''; // je vide les paragraphes coordonnées GPS

            for (let lieu of lieux){  // si la ville correspond à idVille
                if (idVille == lieu.ville.id){
                    let option = document.createElement('option'); // <option></option>
                    option.innerHTML = lieu.nom; // <option> le ferrailleur </option>
                    option.value = lieu.id; // <option value="1"> le ferrailleur </option>
                    // je met la balise option dans la balise select
                    selectL.appendChild(option);
                }
            }
            selectL.onchange = function () {
                console.log('ok');
                let idLieu = this.value;
                remplirAdresse(idLieu);
            };
        }

        function remplirAdresse(idLieu)
        {
            // en fonction de l'id du lieu
            // construire le paragraphe de l'adresse
            let selectAdresse = document.getElementById('lieu_rue');
            selectAdresse.innerHTML = ''; // je vide le paragraphe rue

            let selectCP = document.getElementById('lieu_cp');
            selectCP.innerHTML = ''; // je vide le paragraphe CP

            let selectGPS = document.getElementById('lieu_gps');
            selectGPS.innerHTML = ''; // je vide les paragraphes coordonnées GPS

            for (let lieu of lieux){  // si le lieu correspond à idLieu

                if (idLieu == lieu.id){
                    selectAdresse.innerHTML = lieu.rue;
                    selectCP.innerHTML = lieu.ville.code_postal;
                    selectGPS.innerHTML = 'Latitude : ' + lieu.latitude + ', Longitude : ' + lieu.longitude;

                }
            }

        }

    </script>



{% endblock %}
