<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0"
            lang="fr">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}La Nouba Maggle{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <script src="https://kit.fontawesome.com/3e5a47e53a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg" id="entete">

        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/logoOK.png') }}" class="logonavbar"  alt="home !"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% set chemin = app.request.get('_route') %}
                {% if app.user %}
                    <li class="nav-item {% if chemin  == 'accueil' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item {% if chemin  == 'user_profil' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('user_profil', {id:app.user.id}) }}">Mon profil</a>
                    </li>
                    <li class="nav-item {% if chemin  == 'app_logout' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if chemin  == 'app_login' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item {% if chemin  == 'app_register' %}active{% endif %}">
                        <a class="nav-link" href="{{path('admin_accueil') }}">Volet Admin-></a>
                    </li>
                {% endif %}

            </ul>
        </div>

    </nav>
</header>


<main>
    <div class="container-fluid text-right">
    <span>Date du jour : {{ "now"|date('d-m-Y') }}</span>
    </div>
    <section class="container">
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </section>
</main>
<!--
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Sortie.com {{ "now"|date('d-m-Y') }}</p></div>
</footer>
-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>


